:host {
  display: block;
  height: 100%;
  width: 300px;
  min-width: 300px;
  max-width: 300px;
  position: relative;
  background-color: #24282a;
  color: #cbd0d0;

  .side-nav-search {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 48px;
    border-bottom: 1px solid red;
  }

  .side-nav-content {
    padding: 12px;
    position: absolute;
    top: 48px;
    bottom: 0;
    left: 0;
    right: 0;
    overflow: auto;
  }
}
