<article class="wrapper">
  <div class="image">
    <stk-icon class="icon icon-xxl company-logo"
              name="ceramicartmontaj"></stk-icon>
  </div>

  <section>
    <div class="description">
      <div>
        <p class="m-b-md">
          Suntem pe piață din 2020 după o experiență de peste 15 ani în străinătate.
        </p>
        <p>
          Suntem o firmă dinamică specializată în placări ceramice, mozaic, piatră naturală, granit, plăci de mari dimensiuni (lastre) cărămidă aparentă, scări exterioare și interioare, fațade.
        </p>
      </div>
    </div>
  </section>
</article>

<article class="m-t-xl">
  <div class="m-t-xl">
    <h3>Misiune</h3>
    <p>Să oferim soluții superioare de placari ceramice transformând spațiile în medii frumoase, funcționale și durabile. Ne angajăm să aducem inovație și calitate în fiecare proiect de placare, mozaic, piatră naturală sau granit pe care îl realizăm, construind astfel relații de încredere cu clienții noștri și contribuind la dezvoltarea spațiilor deosebite.</p>
  </div>

  <div class="m-t-xl">
    <h3>Valori</h3>
    <p class="m-b-sm"><strong>Cunoaştere:</strong> Prin cunoștințele, serviciile și experiența noastră, aducem valoare directă locației clienților noștri, contribuind la îmbunătățirea designului și la deschiderea unor noi oportunități de afaceri. Suntem cunoscuți pentru comunicarea clară și ghidarea clienților în fiecare etapă a procesului de proiectare, asigurându-ne că găsim întotdeauna cea mai bună soluție pentru ei.</p>
    <p class="m-b-sm"><strong>Calitate:</strong> Ne ghidăm activitatea printr-o abordare disciplinată, urmand protocoale și procese bine stabilite, menite să ofere calitate superioară în fiecare aspect al activității noastre.</p>
    <p><strong>Angajament:</strong> Suntem profund conștienți de nevoile clienților noștri și reacționăm prompt pentru a le îndeplini. Ne angajăm să fim responsabili pentru acțiunile noastre și să menținem o comunicare pozitivă cu clienții noștri, furnizorii și angajații noștri.</p>
  </div>
</article>
