:host {
  display: block;

  .wrapper {
    display: flex;
    gap: 20px;
    align-items: center;
  }

  p {
    color: var(--color-neutral-contrast);
    text-align: justify;
  }

  .company-logo {
    fill: var(--color-brand);
  }
}
