<app-card>
  <section class="footer">
    <div class="footer-content">
      <div class="copyright">© {{currentYear}} CeramicArtMontaj. All right reserved. Made by
        <a class="developed-by"
           href="#"
           style="text-decoration: none; color: inherit;"
           target="_blank"
           rel="noopener noreferrer">
          <span style="font-family: monospace; font-size: 14px; font-weight: bold; margin-left: 4px">
            STK
          </span>
        </a>
      </div>
    </div>
  </section>
</app-card>
